body {
    height: 100vh;
    font-family: Arial, sans-serif;
    
}
header {
    height: 45px;
    width: 100%;
    background-color: lightgreen;
}

main {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-section {
    margin-right: 20px;
    height: 100%;
    width: 50%;
    background-color: lightgrey;
}

.video-container {
position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  max-width: 1076px;
  max-height: 605px;
  
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    
    
}

.video-title {
    
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}
.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.video-stats {
    font-size: 14px;
    color: darkgrey
}



.actions-container, .actions-btn {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   color: darkgrey
}

.actions-btn span {
    font-size: 15px;
    margin-right: 15px;
}

aside {
    height: 100%;
    width: 15%;
    background-color: lightpink;
}

